<div ng-cloak class="md-padding profile ng-cloak" layout="column" layout-align="center">

    <div ng-if="profileFlag && !editMode" class="profile" ng-cloak>
        
        <div  layout="row" layout-align="center center">

            <md-card class="profile__card" flex="60">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Profile</span>
                        <br>
                        <span class="md-subhead profile__card-subhead">
                            <label for="firstName">First Name:</label>
                            <span id="firstName">{{ currentUserProfile.firstName }}</span>
                            <br>
                            <label for="lastName">Last Name:</label>
                            <span id="lastName"> {{ currentUserProfile.lastName }}</span>
                        </span>
                        <br>
                        <br>
                        <div ng-if="currentUserProfile.image">
                            <img ng-src="{{currentUserProfile.image}}" class="profile__image"/>
                        </div>
                        <br>
                        <div>
                            <!-- link to allow user to Link Strava Account -->
                            <div ng-if="!currentUserProfile.stravaId">
                                <h4>Connect your Strava account to import your bikes and have their mileage updated automatically. </h4>
                                <a href="https://www.strava.com/oauth/authorize?client_id=21849&response_type=code&redirect_uri=http://bike-component-log.firebaseapp.com/strava-response/&state=logged&approval_prompt=auto"><md-icon md-svg-src="./images/btn_strava_connectwith_orange.svg" style="width:225px; height: auto;"></md-icon></a>
                            </div>
                            <br>
                            <br>
                            <div ng-if="currentUserProfile.stravaId">
                                <span class="profile__card-connected"> Connected with </span><img src="/images/strava2.png" width="100">
                            </div>
                        </div>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="editProfile()" class="md-primary">Edit Profile</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>

    <div ng-if="editMode || !profileFlag" class="profile"layout="row" layout-align="center center" ng-cloak>
        
        <md-card class="profile__createCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch flex="60">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <span ng-if="!editMode">Create Your Profile First</span>
                        <span ng-if="editMode">Edit Your Profile Info</span>
                    </span>
                    <span class="md-subhead">
                        <md-input-container>
                            <label>First Name:</label>
                            <input type="name" name="firstName" ng-model="currentUserProfile.firstName"  />
                        </md-input-container>
                        <br>
                        <md-input-container>
                            <label>Last Name:</label>
                            <input type="name" name="lastName" ng-model="currentUserProfile.lastName" />
                        </md-input-container>

                        <!-- Photo upload for avatar -->
                        <div layout="row" class="profile__photoUpload">
                            <span flex="20">
                                <input class="ng-hide" id="profile__imageBtn" type="file" accept=".jpg,.png,.gif" ng-model="currentUserProfile.image" custom-on-change="uploadFile">
                                <label for="addPhoto__imageBtn" class="md-button md-raised" md-ink-ripple="1" aria-label="Choose a Photo"><md-icon md-font-icon="material-icons" class="addPhoto__imageBtnIcon">add_a_photo</md-icon>Upload Photo</label>
                            </span>
                
                            <span ng-hide="photoUploadProgress.flag" flex="20" class="addPhoto__progressCircle">
                                <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                            </span>
                        </div>

                        <div ng-show="currentUserProfile.image">

                            <img class="profile__image" ng-src="{{currentUserProfile.image}}" layout-align="center start"/>

                            <md-button ng-click="deletePhoto(currentUserProfile.image)" class="md-warn md-icon-button" aria-label="Delete" layout-align="center start">
                                <md-tooltip md-direction="right" md-delay="400" >Delete</md-tooltip>
                                <md-icon md-font-icon="material-icons">clear</md-icon>
                            </md-button>
                        </div>


                    </span>
                </md-card-title-text>
                <!-- <md-card-title-media> -->
                    <!-- <div class="md-media-lg card-media"></div> -->
                <!-- </md-card-title-media> -->
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="!editMode" ng-click="addProfile()" class="md-raised md-primary">Create Profile</md-button>
                <md-button ng-if="editMode" ng-click="updateProfile()" class="md-raised md-primary">Update Profile</md-button>
                <md-button ng-if="editMode" ng-click="cancelUpdate()" class="md-warn">Cancel</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>


