<div class="profile">
    <p> First Name: <span ng-model="currentUserProfile.firstName" contenteditable="true"> {{ currentUserProfile.firstName }}</span></p>
    <p>Last Name: <span ng-model="currentUserProfile.lastName" contenteditable="true">{{ currentUserProfile.lastName }}</span></p>
    <p ng-if="currentUserProfile.stravaId"> Strava Account Linked </p>
</div>
<!-- link to allow user to Link Strava Account -->
<a href="https://www.strava.com/oauth/authorize?client_id=21849&response_type=code&redirect_uri=http://localhost:8080/&#35&#33/strava-response/&state=logged&approval_prompt=auto">Link Strava</a>
<!-- Link to allow user to update their profile -->
<a href="/#!/update-profile">Update Profile</a>

