<div class="addBike" layout="column" layout-align="center center">
    <h1 ng-if="!editMode" class="addBike__header">Add a new Bike to Track</h1>
    <h1 ng-if="editMode">Edit Your Bike Info</h1>


    <form ng-submit="addBike()" name="bikeForm" ng-model="newBike" class="addBike__form" >
        <md-input-container >
            <label>Brand:</label>
            <input type="text" ng-model="newBike.brandName" required="string"/>
        </md-input-container>
        <md-input-container>
            <label>Model:</label>
            <input type="text" ng-model="newBike.modelName" />
        </md-input-container>
        <md-input-container>
            <label ng-if="!editMode">Current Mileage:</label>
            <input ng-if="!editMode" type="number" ng-model="newBike.mileage"/>
        </md-input-container>
        <md-input-container>
            <label>Purchase Date:</label>
            <!-- <input type="date" ng-model="newBike.purchaseDate"/> -->
            <md-datepicker ng-model="newBike.purchaseDate"  md-max-date="maxDate"></md-datepicker>
        </md-input-container>
        <md-input-container>
            <label>Serial Number:</label>
            <input type="text" ng-model="newBike.serial"/>
        </md-input-container>
        <md-input-container>
            <label>Notes:</label>
            <textarea ng-model="newBike.notes"></textarea>
        </md-input-container>
        
        <div layout="row" class="addBike__photoUpload">
            <span flex="20">
                <input class="ng-hide" id="addBike__imageBtn" type="file" accept=".jpg,.png,.gif" ng-model="newBike.image" custom-on-change="uploadFile">
                <label for="addBike__imageBtn" class="md-button md-raised" md-ink-ripple="1" aria-label="Choose a Photo"><md-icon md-font-icon="material-icons">add_a_photo</md-icon> Upload Photo</label>
            </span>
             
            <span ng-hide="photoUploadProgress.flag" flex="20" class="addBike__progressCircle">
                <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="20px"></md-progress-circular>
            </span>

        </div>
        
        <div ng-repeat="image in newBike.images">
            <img ng-src="{{image}}" style="width:150px;height:auto;"/>
            <!-- <md-button ng-click="deletePhoto(image)" class="md-warn">Delete Photo</md-button> -->
            <md-button ng-click="deletePhoto(image)" class="md-warn md-icon-button" aria-label="Delete">
                <md-tooltip md-direction="right" md-delay="400">Delete</md-tooltip>
                <md-icon md-font-icon="material-icons">clear</md-icon>
            </md-button>
        </div>

        <input type="submit" value="Save Bike" ng-if="!editMode" class="md-button md-primary md-raised"/>
        <input type="submit" value="Save Edits" ng-if="editMode" class="md-button md-primary md-raised"/>
        <md-button type="reset" class="md-raised md-warn">reset</md-button>
        <md-button ng-click="cancelForm()">Cancel</md-button>
    
    </form>
</div>