<div class="addBike">
    <h1 ng-if="!editMode" class="addBike__header">Add a new Bike to Track</h1>
    <h1 ng-if="editMode">Edit Your Bike Info</h1>

    <form ng-submit="addBike()" name="bikeForm" ng-model="newBike">
        <label>Brand:</label>
        <input type="text" ng-model="newBike.brandName" required="string"/>
        <label>Model:</label>
        <input type="text" ng-model="newBike.modelName" />
        <label ng-if="!editMode">Current Mileage:</label>
        <input ng-if="!editMode" type="number" ng-model="newBike.mileage"/>
        <label>Purchase Date:</label>
        <input type="date" ng-model="newBike.purchaseDate"/>
        <label>Serial Number:</label>
        <input type="text" ng-model="newBike.serial"/>
        <label>Info:</label>
        <textarea ng-model="newBike.info"></textarea>

        <label for="Image">Image</label>
        
        <input id="addBike__image" type="file" accept=".jpg,.png,.gif" ng-model="newBike.image" ng-change="saveImage()">
       
        <button type="button" ng-click="saveImage()">Upload Image</button>
        
        
        <div ng-repeat="image in newBike.images">
            <img ng-src="{{image}}" style="width:150px;height:auto;"/>
        </div>

        <input ng-if="!editMode" type="submit" value="Add Bike">
        <input ng-if="editMode" type="submit" value="Save Edits">
        <input type="reset">
    </form>
    <button ng-click="cancelForm()">Cancel</button>
</div>