<div class="addComponent">

    <h3 class="addComponent__header">Add a component to track on your {{currentBike.brandName}} {{ currentBike.modelName }}</h3>


    <form ng-submit="addComponent()" name="componentForm" ng-model="componentForm">
        <label ng-if="!editMode">Type:</label>
        <select ng-if="!editMode" ng-model="newComponent.type" ng-options="comp.name for comp in componentTypes track by comp.name" required="comp.name">
                <option value="">Choose a Type</option>
        </select>
        <label>Brand:</label>
        <input type="text" ng-model="newComponent.brandName"/>
        <label>Model:</label>
        <input type="text" ng-model="newComponent.modelName"/>
        <label>Current Mileage:</label>
        <input type="number" ng-model="newComponent.mileage" />
        <label>Purchase Date:</label>
        <input type="date" ng-model="newComponent.purchaseDate" />
        <label>Serial Number:</label>
        <input type="text" ng-model="newComponent.serial"/>
        <label>Info:</label>
        <textarea ng-model="newComponent.info"></textarea>

        <input id="addComponent__image" type="file" accept=".jpg,.png,.gif" ng-model="newComponent.image" ng-change="saveImage()">
        <button type="button" ng-click="saveImage()">Upload Image</button>
        <img ng-src="{{newComponent.image}}" style="width:150px;height:auto;"/>

        <input ng-if="!editMode" type="submit" value="Add Component">
        <input ng-if="editMode" type="submit" value="Save Edits">
        <input type="reset">
    </form>
</div>