<div class="addComponent" layout="column" layout-align="center center">

    <h3 class="addComponent__header">Add a component to track on your {{currentBike.brandName}} {{ currentBike.modelName }}</h3>

    
    <form ng-submit="addComponent()" name="componentForm" ng-model="componentForm" class="addComponent__form">

        <!-- Dropdown list of the available component types -->
        <md-input-container class="componentForm__dropdown">
            <label ng-if="!editMode">Type:</label>
            <md-select ng-if="!editMode" ng-model="newComponent">
                <md-optgroup label="Component Types">
                    <md-option ng-value="component" ng-repeat="comp in componentTypes"> {{ comp.name }}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>


        <p ng-show="editMode"> Type: {{ newComponent.type.name }} </p>
        <md-input-container>
            <label>Brand:</label>
            <input type="text" ng-model="newComponent.brandName" required="string"/>
        </md-input-container>
        <md-input-container>
            <label>Model:</label>
            <input type="text" ng-model="newComponent.modelName"/>
        </md-input-container>
        <md-input-container>
            <label>Current Mileage:</label>
            <input type="number" ng-model="newComponent.mileage" placeholder="0" />
        </md-input-container>
        <md-input-container>
            <label>Installation Date:</label>
            <md-datepicker ng-model="newComponent.installationDate" md-max-date="maxDate"></md-datepicker>
        </md-input-container>
        <md-input-container>
            <label>Serial Number:</label>
            <input type="text" ng-model="newComponent.serial"/>
        </md-input-container>
        <md-input-container>
            <label>Info:</label>
            <textarea ng-model="newComponent.info"></textarea>
        </md-input-container>

        <div layout="row" class="addComponent__photoUpload">
            <span flex="20">
                <input class="ng-hide" id="addComponent__imageBtn" type="file" accept=".jpg,.png,.gif" ng-model="newComponent.image" custom-on-change="uploadFile">
                <label for="addComponent__imageBtn" class="md-button md-raised" md-ink-ripple="1" aria-label="Choose a Photo"><md-icon md-font-icon="material-icons">add_a_photo</md-icon>Upload Photo</label>
            </span>

            <span ng-hide="photoUploadProgress.flag" flex="20" class="addComponent__progressCircle">
                <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="20px"></md-progress-circular>
            </span>
        </div>

        
        <div ng-repeat="image in newComponent.images" class="addComponent__allImages" layout>
            
            <img class="addComponent__image" ng-src="{{image}}" layout-align="center start"/>

            <md-button ng-click="deletePhoto(image)" class="md-warn md-icon-button" aria-label="Delete" layout-align="center start">
                <md-tooltip md-direction="right" md-delay="400" >Delete</md-tooltip>
                <md-icon md-font-icon="material-icons">clear</md-icon>
            </md-button>
        </div>
        <div layout="row">
            <input ng-if="!editMode" type="submit" value="Save Component" class="md-button md-primary md-raised">
            <input ng-if="editMode" type="submit" value="Save Edits" class="md-button md-primary md-raised">
            <md-button type="reset" class="md-raised md-warn">reset</md-button>
            <md-button ng-click="cancelForm()">Cancel</md-button>
        </div>

    </form>
</div>