<div class="addMileage">
    <div layout="column" layout-align="center center" class="addMileage__modalContent">
        <h2> All miles added to your {{ currentBike.brandName }} {{currentBike.modelName }}
            <br>
             will also be added to all active components.</h2>
        <h3>Current Mileage:  {{ currentBike.mileage }} miles.</h3>
        
        <md-input-container>
            <input type="number" ng-model="additionalMileage" id="additionalMileage" aria-label="Add Additional Mileage to Current Bike"/>
            <label for="additionalMileage">Additional Mileage:</label>
        </md-input-container>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="saveMileage()">Add Mileage</md-button>
            <md-button class="md-warn" ng-click="cancel()">Cancel</md-button>
        </div>
    </div>
</div>