
<!-- Refresh button -->
<button ng-click="refresh()">Refresh</button>

<h1> Welcome to your dashboard</h1>

<!-- Dropdown list of the users tracked bikes -->
<select ng-model="currentBike" ng-options="bike.brandName + ' ' + bike.modelName for bike in bikes" ng-change="getComponents()">
    <option value="">Select A Bike</option>
</select>


<!-- Button to add a tracked bike -->
<button ng-click="sendToAddBike()">Add a Bike</button>
<button ng-if= "currentBike" ng-click="sendToAddComponent()">Add a Component</button>

<!-- Import a bike from Strava -->
<button ng-if="currentUserProfile.stravaId" ng-click="importBikes()">Import Bikes From Strava</button>


<div ng-model="currentBike">
    <h3>{{ currentBike.brandName + currentBike.modelName}} </h3>
    
    <p ng-if="currentBike.mileage">Bike Mileage: {{currentBike.mileage}} miles</p>
    <p ng-if="currentBike.serial">Bike Serial Number: {{currentBike.serial}}</p>
    <button ng-if="currentBike" ng-click="deleteBike(currentBike.fbId)">Delete</button>
    <hr ng-if="currentBike">

</div>



<!-- Maybe make this a ng-options dropdown list of all the users tracked components -->
<div ng-repeat="comp in components">
   <p> Component: {{ comp.type.name }} </p>
   <p> Name: {{ comp.brandName }} {{ comp.modelName}} </p>
   <p> purchased: {{ comp.purchaseDate | date }} </p>
   <p> Mileage: {{ comp.mileage }} miles </p>
   <p ng-if="currentBike.serial">Bike Mileage: {{currentBike.serial}} miles</p>
   <p ng-if=comp.type.tips><a ng-href="{{comp.type.tips}}" target="_blank">Maintenance Tips</a></p>
   <button ng-click="deleteComponent(comp.fbId)">Delete</button>
   <hr>
</div>
