<h1> Welcome to your dashboard</h1>

<select ng-model="currentBike" ng-options="bike.brandName + ' ' + bike.modelName for bike in bikes" ng-change="getComponents()">
        <option value="">Select Option</option>
</select>

<div ng-model="currentBike">
    <h3>{{ currentBike.brandName + currentBike.modelName}} </h3>
    
    <p ng-if="currentBike">Bike Mileage: {{currentBike.mileage}}</p>
    <hr ng-if="currentBike">
</div>
<!-- <div ng-repeat="bike in bikes">
    <hr>
</div> -->

<!-- Maybe make this a ng-options dropdown list of all the users tracked components -->
<div ng-repeat="comp in components">
   <p> Component: {{ comp.type.name }} </p>
   <p> Name: {{ comp.brandName }} {{ comp.modelName}} </p>
   <p> purchased: {{ comp.purchaseDate | date }} </p>
   <p> Mileage: {{ comp.mileage }} </p>
   <p ng-if=comp.type.tips><a ng-href="{{comp.type.tips}}" target="_blank">Maintenance Tips</a></p>
   <hr>
</div>

<button ng-click="sendToAddBike()">Add a Bike</button>
<button ng-click="sendToAddComponent(selectedBike)">Add a Component</button>