<div class="wishlist">

    <h1 layout layout-align="center"> Wishlist </h1>
    
    <!-- Progress meter -->
    <div ng-show="progressFlag" ng-hide="!progressFlag" class="progressSVG">
            <img src="./images/progressGear.svg" alt="Loading Content" id="svgspin" />
         </div>

    <!-- ACTION BUTTON fab button in lower righ corner used to add a new wishlist item -->
    <md-button class="md-fab md-warn md-fab-bottom-right" style="position:fixed !important;" aria-label="Add A Wish">
        <md-tooltip md-direction="left">Add A Wish</md-tooltip>
        <md-icon md-font-icon="material-icons" class="addWishButton" ng-click="createWish()">add</md-icon>
    </md-button>

    <div ng-show="!progressFlag" class="wishlist__content" layout="column">

        <div ng-if="createMode || editMode" class="wishlist__createForm-c" layout="column" layout-align="center center">
            <h2>New Item:</h2>
            <form ng-submit="saveWish()" name="wishForm" ng-model="newWish" class="wishlist__createForm">
                <md-input-container>
                    <label>Title:</label>
                    <input type="text" ng-model="newWish.title" required="string" />
                </md-input-container>
                <md-input-container>
                    <label>Info:</label>
                    <textarea ng-model="newWish.info" rows="1"></textarea>
                </md-input-container>
    
                <!-- buttons -->
                <input ng-if="!editMode" type="submit" value="Save Wish" class="md-button md-raised md-primary">
                <input ng-if="editMode" type="submit" value="Update Wish" class="md-button md-raised md-primary">
                <md-button type="reset" class="md-raised md-warn">reset</md-button>
                <md-button ng-if="createMode || editMode" ng-click="cancelWish()" class="md-warn">Cancel</md-button>
            </form>

        </div>

        <!--  -->
        <div layout="row"  class="wishView__wishSearchSort" layout-align="center">
           
            <span flex="40" class="wishView__wishSearch" >
                <md-input-container>
                    <input type="search" ng-model="wishSearch" id="wishSearch" aria-label="Search Wishes" size="300">
                    <label for="wishSearch">Search Wishes:</label>
                </md-input-container>
            </span>

            <span flex-offset="30" flex="25">
                <md-input-container class="wishView__wishSort">
                    <label>Sort Wishes</label>
                    <md-select ng-model="sortSelector" ng-model-options="{trackBy: '$sort.title'}" ng-change="setSortOrder(sortSelector)" aria-label="Sort Components By">
                        <md-option ng-value="sort" ng-repeat="sort in sortOrderArray">{{ sort.title }}</md-option>
                    </md-select>
                </md-input-container>
            </span>

            <span flex="15">
                <md-switch ng-model="sortReverse.setting" id="sortReverseBox" class="wishView__reverseSwitch" aria-label="Reverse Results">Reverse</md-switch>
            </span>    
                
        </div>


        <div class="wishlist__itemList" layout="column" layout-align="center center">
            <!-- Accordion using v-accordion https://github.com/LukaszWatroba/v-accordion -->
            <v-accordion class="vAccordion--default wishAccordionList">
                <v-pane ng-repeat="wish in wishes | filter:wishSearch | orderBy:sortOrder:sortReverse.setting">
                    <v-pane-header layout="row" aria-controls="{{ wish.fbId }}-content">
                        <span>{{ wish.title }}</span>
                        <span class="wish__date">{{ wish.dateAdded | date : 'medium' }}</span>
                    </v-pane-header>

                    <v-pane-content aria-labelledby="{{ wish.fbId }}-header">
                        {{ wish.info }}
                        <div layout="row">
                            <span flex></span>
                            <md-button ng-click="editWish(wish)" class="md-icon-button md-secondary" aria-label="edit wishlist item">
                                    <md-icon md-font-icon="material-icons" class="">mode_edit</md-icon>
                                    <md-tooltip md-direction="top" md-delay="200">Edit</md-tooltip>
                                </md-button>
                            <md-button ng-click="showConfirm($event, wish)" class="md-icon-button deleteBtn" aria-label="delete wishlist item">
                                <md-icon md-font-icon="material-icons" class="">delete
                                    <md-tooltip md-direction="top" md-delay="200">Delete</md-tooltip>
                                </md-icon>
                            </md-button>
                        </div>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
        </div>
    </div>

</div>