    <div ng-controller="navCtrl" class="md-medium-tall" >
    
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <!-- <md-nav-item> -->

                <md-icon md-svg-src="/images/noun_1067030_cc.svg" style="width: 50px; height: auto"></md-icon>

            <!-- </md-nav-item> -->
            <!-- <span>Bike Tracker</span> -->
            
            <!-- <span flex></span> -->
            
            <md-nav-item ng-if="isAuthenticated()" md-nav-href="/#!/profile" name="Profile"><md-icon md-font-icon="material-icons">account_circle</md-icon>Profile</md-nav-item>
            
            <!-- <span flex></span> -->
            
            <md-nav-item ng-if="isAuthenticated()" md-nav-href="/#!/dashboard" name="Dashboard">
                <md-icon md-font-icon="material-icons">dashboard</md-icon>
                Dashboard
            </md-nav-item>
            
            <!-- <span flex></span> -->
            
            <md-nav-item ng-if="isAuthenticated()" md-nav-href="/#!/wishlist" name="Wishlist"><md-icon md-font-icon="material-icons">list</md-icon>Wishlist</md-nav-item>
            
            <span flex></span>
            
            <md-nav-item ng-if="isAuthenticated()" md-nav-click="logout()" layout-align="end">Logout</md-nav-item>
            
        </md-nav-bar>
    
    </div>
