<div class="login">

    <div class="welcome__header" layout="column" layout-align="center center">
        <!-- <img class="welcome__headerImage" ng-src="./images/IMG_6448_crop_web.jpg" > -->
        <md-button ng-show="!hasStarted" class="md-raised md-warn loginGetStartedBtn" ng-click="startLogin()">Get Started</md-button>


        <div ng-show="hasStarted" layout="column" layout-align="center stretch" class="login__loginForm-c" layout-padding layout-margin>
                <h1 class="login__header"> Login </h2>
                <md-input-container class="md-block">
                    <label for="email">Email</label>
                    <input type="email" name="email" ng-model="auth.email" autofocus required="string">
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="password" >Password</label>
                    <input type="password" ng-model="auth.password" required="string" >
                </md-input-container>
                <span class="loginForm__btns">
                    <md-button class="md-raised md-primary" ng-click="logMeIn(auth)">Login</md-button>
                    <md-button class="" ng-click="registerUser(auth)">Register</md-button>
                </span>
        </div>
    </div>


</div>