<div class="importBike" layout="column" layout-align="center center">
    
    <header class="header">
        <h1>Import Your Bikes from Strava</h1>
    </header>

    <!-- Progress meter -->
    <div ng-show="progressFlag" ng-hide="!progressFlag" class="progressSVG">
        <img src="./images/progressGear.svg" alt="Loading Content" id="svgspin" />
    </div>

    <div ng-hide="progressFlag" class="importBike__content" ng-init="init()">

        <h3 ng-if="stravaReturnFlag">You do not have any available bikes to import.</h3>
        <h3 ng-if="!stravaReturnFlag">Available Bikes to Import</h3>


        <div ng-repeat="bike in bikesToImport" layout>
            {{ bike.name }}
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="importBike(bike)">Import</md-button>
            <div>
                <hr>
            </div>
        </div>

        <md-button class="md-raised" ng-click="toDashboard()">Finished</md-button>
    </div>


</div>