/* Site wide styles */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4, h5, h6 {
    margin: .2em;
    padding: 0;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 300;
}

p {
    margin: .2em;
    padding: 0;
}

.deleteBtn:hover, .deleteBtn:hover > md-icon  {
    color: red;
}

.width50 {
    width: 50%;
}

.center {
    margin: 0 auto;
}



/* For testing */
.border {
    border: 1px solid green;
}



/* Dashboard CSS */

.bikeView__dropdown {
    width: 40%;
}

.bikeView__details {
    width: 50%;
    max-width: 600px !important;
}

.componentView__details{
    width: 50%;
    max-width: 600px !important;
}

.bikeView__bikeHeader {
    margin-top: .4em;
    margin-left: .3em;
    font-weight: 400;
}

.bikeView__icon {
    /* padding-bottom: 1.5em; */
}

.dotCtrlMenu {
    margin-right: 0 !important;
    margin-top: .2em;
    padding-right: 0 !important;
}


.addMileageBtn {
    /* padding-top: 0; */
    /* margin-bottom: 0; */
    /* padding-bottom: .5em; */
}


.poweredByStravaIcon {
    width: 125px;
}

.componentSearch__input {
    width: 100%;
}

.componentDivider {
    background-color: blue;
}

.compHeader {
    text-transform: uppercase;
}

.compImage {
    width:200px;
    height:auto; 
    border-radius: 5px;
}


.compExtraDetails {
    width: 96%;
}

.compExtraDetails__header {
    margin-left: .2em;
}






/* AddBike CSS */

.addBike__imageBtn {
    width: 1px
}

.addBike__progressCircle {
    padding-top: .9em;
}

.componentView__componentSorting {
    display: inline !important;
}



/* Wishlist CSS */

.wish__date {
    font-size: .7em !important;
    color: grey;
}

.addWishButton:focus {
    outline: none !important;
    border: 0 !important;
}

.wishlist__createForm {
    width: 40%;
}

.wishlist__itemList {
    width: 100%;
}

.wishAccordionList {
    width: 70%;
}

/* Profile CSS */

.profile__card-subhead {
    font-size: 1.1em !important;
}

.profile__card-connected {
    color: tomato;
}



/* Login CSS */

.login__loginForm {
    width: 40%;
}

.login__header {
    font-weight: 300;
    margin-left: 0;
}





/*                                   */
/* Animation code for progress meter */
/*                                   */

.dashboard__content,
.importBike__content, 
.wishlist__content {
    transition: all linear .6s;
}

.dashboard__content.ng-hide, 
.importBike__content.ng-hide, 
.wishlist__content.ng-hide {
    opacity: 0;
}


.progressSVG.ng-hide {
    opacity: .3;
}

.progressSVG {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    transition: all linear 0.1s;
}

#svgspin {
    text-align: center;
    animation: spin .8s linear infinite; 
    display: block; 
    fill: #223344; 
    /* float: left;  */
    height: 150px; 
    margin: 0 5px 5px 0; 
    width: 150px;
    position: relative;
    margin: 50px auto;
  }


  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg);
    }
  }