/* Site wide styles */

/* This is here because I have my angulgarJS script at the bottom of the body section and not in the head of html doc. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.md-fab-bottom-right {
    position:fixed !important;
    margin-bottom: 2em;
}

.speedDialButtonText {
    padding: 0;
    margin: 0;
    font-size: .8em;
}

.fabButton {
    width: 75% !important;
    height: 75% !important;
    background-color: white;
    border-radius: 50%;
    padding-bottom: 4px !important;
}

.fabButton:hover {
    background-color: rgba(197, 197, 197, 0.774) !important;
}

.speedDialButtonIcon {
    width: 50px; 
    height: 45px;
    margin-right: 2px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url("../images/IMG_6448_crop_web.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 48px; */
}

h4, h5, h6 {
    margin: .2em;
    padding: 0;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 300;
}

p {
    margin: .2em;
    padding: 0;
}

.deleteBtn:hover, .deleteBtn:hover > md-icon  {
    color: red;
}

.width50 {
    width: 50%;
}

.center {
    margin: 0 auto;
}

md-input-container {
    display: block;
}

#toast-container {
    position: fixed;
    bottom: 0;
    z-index: 999;
    overflow: visible !important;
}

footer {
    font-size: .9em;
    background-color: tomato;
    color: white;
    /* height: 100%; */
    width: 100%;
    padding: .3em .6em;
}

.footer__copyright a {
    color: white;
    text-decoration: none;
}

.footer__copyright a:hover {
    text-decoration: underline;
}



/* For testing */
.border {
    border: 1px solid green;
}


/* Navigation Styles */

.nav__profileName {
    margin-top: 1.4em;
    margin-right: -2.7em;
    font-size: .9em;
}

.nav__profileImage {
    border-radius: 50%;
    width: 40px;
    height: auto;
    margin: 0;
    margin-top: .4em;
    margin-right: .7em;
    padding: 0;
}

.nav__logoIcon {
    width: 50px; 
    height: auto;
    margin: 0; 
    margin-left: .3em;
    padding-top: 0;
}

.nav__profile {
    margin: 0;
    padding: 0;
    padding-left: 3.5em;
}

.nav__appName {
    margin-top: .4em;
    color: tomato;
    font-size: 1.7em;
    text-transform: capitalize;
    font-variant: small-caps;
}





/* Dashboard Styles */

.dashboard__header {
    /* background-color: white; */
    /* width: 70%; */
    /* border-top-left-radius: 6px;  */
    /* margin: 0 auto; */
    margin-top: -25px;
    padding-bottom: 1.5em;
}

.dashboard__header.ng-hide {
    opacity: 0;
}

.dashboard__headerImage {
    /* width: 200px; */
    /* height: 200px; */
    height: 55%;
    width: 55%;
    transition: max-height linear .4s;
    max-height: 300px;
    max-width: 558px;
}

.dashboard__headerImage.ng-hide {
    max-height: 0;

}
.dashboard__headerText {
    font-size: 4em;
    padding-top: .2em;
    padding-left: .2em;
}

/* .dashboard__content {
    width: 70%;
    background-color: white;
    border-bottom-left-radius: 6px; 
    border-bottom-right-radius: 6px; 
    margin: 0 auto;
} */


.bikeView {
    padding-bottom: 2em;
}

.bikeView__dropdown {
    width: 40%;
}

.bikeView__dropdown-ic {
    width: 100%;
}

.bikeView__details {
    width: 50%;
    max-width: 700px !important;
}

.bikeView__extraDetails,
.bikeView__bikeImages {
    width: 98.5%;
}

.bikeView__extraDetails p {
    margin-bottom: .5em;
}

.bikeImages__bikeImage-c {
    margin: .2em;
}

.bikeImages__bikeImage,
.bikeImages__bikeImageWhiteBox
 {
    border-radius: 4px;
}

.imageLightbox__image {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius:
}

.imageLightbox__content {
    padding-top: .1em !important;
}


.bikeView__bikeHeader {
    margin-top: .4em;
    margin-left: .3em;
    font-weight: 400;
}

.bikeView__icon {
    /* padding-bottom: 1.5em; */
}

.dotCtrlMenu {
    margin-right: 0 !important;
    margin-top: .2em;
    padding-right: 0 !important;
}

.bikeView__mileage {
    padding-top: .9em;
}

.poweredByStravaIcon {
    padding-top: .7em;
    padding-left: .5em;
    padding-right: .4em;
    width: 150px;
    height: auto;
    /* border: 1px solid grey; */
}

.componentView__componentSearchSort {
    padding-left: 2.5em;
}

.componentSearch__input {
    width: 100%;
}

.componentView__compIcon {
    width: 100%;
    height: 100%;
}

.componentView__details {
    width: 50%;
    max-width: 600px !important;
}

md-card-header {
    padding-right: 10px !important;
}

.componentDivider {
    background-color: blue;
}

.componentView__compHeader {
    margin-top: .2em;
    padding-left: .7em;
}

.compHeader__title {
    text-transform: uppercase;
}

.comp__dotCtrlMenu {
    margin-top: 0;
    padding-top: 0 !important;
}

.comp__activeCheckbox {
    margin: 0 !important;
    padding: 0;
    font-size: 1.2em;
    font-weight: normal;
}

/* 
.compImage {
    width:200px;
    height:auto; 
} */

.compImage,
.compImageWhiteBox {
    border-radius: 4px;
s}

.compview__ExtraDetails {
    width: 99%;
}

.compExtraDetails__header {
    margin-left: .2em;
}

.compExtraDetails__notes {
    padding-top: .3em;
    padding-left: .3em;
}

.componentSearchSort__sortDropDown {
    display:inline-block; 
    width: 100%; 
    min-width: 150px;
    margin-top: 1.2em; 
}

.componentSearchSort__reverseSwitch {
    margin-left: .5em !important; 
}

.componentSearchSort__activeSwitch {
    margin-right: 1.2em !important; 
}

.componentSearchSort__reverseSwitch,
.componentSearchSort__activeSwitch {
    display: inline-block; 
    margin-top: 1.8em !important;   
    font-size: .9em !important;
}




/* Add Mileage Modal */

.addMileage__modalContent {
    padding: 3em;
}


/* AddBike CSS */

.addBike__form {
    width: 50%;
}

.addBike__photoUpload, .addBike__allImages {
    padding-bottom: 2em;
}

.addBike__image {
    width: auto;
    max-width: 50%;
    height:150px;
}

.imageDeleteBtn {
    margin-bottom: 100px !important;
}


/* AddComponent CSS */

.addComponent__photoUpload, .addComponent__allImages {
    padding-bottom: 2em;
}

.addComponent__image {
    width: auto;
    max-width: 50%;
    height:150px;
}

.addComponent__form {
    width: 50%;
}



/* Photo Upload Styling */


.addPhoto__imageBtnIcon {
    margin-right: .2em;
}

.addPhoto__progressCircle {
    padding-top: .9em;
    padding-left: 3em;
}





/* Wishlist CSS */

.wishView__wishSearchSort {
    /* width: 90%; */
    /* margin: 0 auto; */
    padding-left: 2.5em;
}

.wish__date {
    font-size: .7em !important;
    color: grey;
}

.addWishButton:focus {
    outline: none !important;
    border: 0 !important;
}

.wishlist__createForm-c {
    width: 100%;
}

.wishlist__createForm {
    width: 50%;
}

.wishlist__itemList {
    width: 100%;
}

.wishAccordionList {
    width: 70%;
}

.wishView__wishSort {
    display:inline-block; 
    width:100%;
}

.wishView__reverseSwitch {
    /* display:inline-block;  */
    margin-right: .8em !important;
    margin-left: 1em !important;
    margin-top: 1.2em !important;
}




/* Profile CSS */

.profile__card-subhead {
    font-size: 1.2em !important;
}

.profile__card-connected {
    color: tomato;
}

.profile__image {
    width: 200px;
    border-radius: 50%;
}


/* Login CSS */

.welcome__header {
    width: 100%;
    height: 100vh;
    /* padding: 50%; */
    /* position: relative; */
    background-image: url("../images/IMG_6448_web.jpg");
    /* background-position: cover; */
    background-repeat: no-repeat;
    background-size: cover;
    /* white-space: nowrap; */
}


.loginGetStartedBtn {
    padding: .5em;
    font-size: 1.3em;

}

.login__loginForm-c {
    background-color: white;
    width: 40%;
    height: 40%;
    border-radius: 4px;
    transition: all linear .3s;
}

.login__loginForm-c.ng-hide {
    opacity: 0;
}

.login__header {
    font-weight: 300;
    margin-left: 0;
}


/* Import Bike Styles */

.importBike__content {
    width: 50%;
    
}



/*                                   */
/* Animation code for progress meter */
/*                                   */

.dashboard__content,
.importBike__content, 
.wishlist__content {
    transition: all linear .6s;
}

.dashboard__content.ng-hide, 
.importBike__content.ng-hide, 
.wishlist__content.ng-hide {
    opacity: 0;
}


.progressSVG.ng-hide {
    opacity: .3;
}

.progressSVG {
    margin: 0 auto;
    padding: 0;
    width: 20%;
    transition: all linear 0.1s;
}

#svgspin {
    text-align: center;
    animation: spin .8s linear infinite; 
    display: block; 
    fill: #223344; 
    height: 150px; 
    margin: 0 5px 5px 0; 
    width: 150px;
    position: relative;
    margin: 50px auto;
  }


  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg);
    }
  }