body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bikeView__dropdown {
    display: block;
}


/* md-input-container {
    display: block;
} */

md-input-container label.uploadLabel {
    /* border: 1px solid #ccc; */
    display: inline-block;
    padding: 30px 12px;
    cursor: pointer;
}

.addBike__image {
    width: 1px
}

.componentView__componentSorting {
    display: inline !important;
}


/* Generic form styling to make them all block elements
    Change later when in styling mode
*/


/* Animation code for progress meter */
/*                                   */

.dashboard__content,
.importBike__content, 
.wishlist__content {
    transition: all linear .6s;
}

.dashboard__content.ng-hide, 
.importBike__content.ng-hide, 
.wishlist__content.ng-hide {
    opacity: 0;
}


.progressSVG.ng-hide {
    opacity: .3;
}

.progressSVG {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    transition: all linear 0.1s;
}

#svgspin {
    text-align: center;
    animation: spin .8s linear infinite; 
    display: block; 
    fill: #223344; 
    /* float: left;  */
    height: 150px; 
    margin: 0 5px 5px 0; 
    width: 150px;
    position: relative;
    margin: 50px auto;
  }


  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg);
    }
  }